<!DOCTYPE html>
{% load static %}
<html>
	<head>
        <title>My Story</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/logic.js' %}"></script>
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" style="padding: 10px;">
		<div class="container-fluid" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'formsaran' %}">Form Saran</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Registrasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'jadwalkegiatan' %}">Jadwal Kegiatan</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'buku' %}">Buku</a>
                </li>
			</ul>
		</div>
	</nav>

	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded">
			<div class="row">
				<div class="col-md-4 left">
                    <h1>Buku</h1>
				</div>
				<div class="col-md-8 right">
						{% if user.is_authenticated %}
						<p>Logged as {{ user.username }}</p>
						<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
					  {% else %}
						<a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
						  Login
						</a>
					  {% endif %}
					<div class="form-group">
						<label for="search">Judul</label>
						<input class="form-control" id="search" type="text">
					</div>
					{% if user.is_authenticated %}
					<button class="btn btn-primary" id="show-book">Cari Buku</button>
					{% else %}
					<button class="btn btn-primary disabled" id="show-book" disabled>Cari Buku</button>
					{% endif %}
                    <br>
                    <br>
                    <p>Jumlah Buku Favorit : <span id="counter">{{ favorite_book }}</span></p>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-white section-container rounded">
            <div class="row" id="table-container">
            </div>
        </div>
		{% include "footer.html" %}
		
	</body>
</html>