<!DOCTYPE html>
{% load static %}
<html>
	<div class="container-fluid rounded footer">
		<a href="https://www.facebook.com/ardanto14" target="_blank"><img src="{% static 'img/facebook.png' %}" class="social-logo"></a>
		<a href="https://twitter.com/ardanto14" target="_blank"><img src="{% static 'img/twitter.png' %}" class="social-logo"></a>
		<p style="float: right;">Copyright 2018</p>
	</div>
	<br>
	<br>
	<br>
</html>