<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" style="padding: 10px;">
		<div class="container-fluid" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'formsaran' %}">Form Saran</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Registrasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'jadwalkegiatan' %}">Jadwal Kegiatan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'buku' %}">Buku</a>
				</li>
			</ul>
		</div>
	</nav>

	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded" id="formsaran">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Form Saran</h1>
				</div>
				<div class="col-md-8 right">
					<form>
						<div class="form-group">
					    	<label for="nama">Nama</label>
					    	<input class="form-control" id="nama">
						</div>
						<div class="form-group">
					    	<label for="kualitasweb">Kualitas Web</label>
					    	<select class="form-control" id="kualitasweb">
					    		<option>Sangat Baik</option>
					    		<option>Baik</option>
					    		<option>Biasa</option>
					    		<option>Buruk</option>
					    		<option>Sangat Buruk</option>
					    	</select>
						</div>
						<div class="form-group">
					    	<label for="alasansaran">Alasan dan Saran</label>
					    	<textarea class="form-control" id="alasansaran" rows="3"></textarea>
						</div>
						<button class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>

		{% include "footer.html" %}
		
	</body>
</html>