<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" style="padding: 10px;">
		<div class="container-fluid" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'formsaran' %}">Form Saran</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Registrasi</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'jadwalkegiatan' %}">Jadwal Kegiatan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'buku' %}">Buku</a>
				</li>
			</ul>
		</div>
	</nav>

	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded" id="formsaran">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Tambah Jadwal Kegiatan</h1>
				</div>
				<div class="col-md-8 right">
					<form method="POST" class="post-form">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-white section-container rounded" id="formsaran">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Jadwal Kegiatan</h1>
				</div>
				<div class="col-md-8 right">
					{% if not data %}
					<h2>Tidak ada kegiatan</h2>
					{% else %}
					<form method="POST" class="post-form" action="deletedatabase" style="margin-bottom: 25px;">
						{% csrf_token %}
						<button class="btn btn-primary">Delete All Data</button>
					</form>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Event</th>
								<th>Waktu</th>
								<th>Tempat</th>
								<th>Kategori</th>
							</tr>
						</thead>
						<tbody>
						{% for i in data %}
							<tr>
								<td>{{ i.event }}</td>
								<td>{{ i.waktu|date:"d-m-Y H:i:s" }}</td>
								<td>{{ i.tempat }}</td>
								<td>{{ i.kategori }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% endif %}
				</div>
			</div>
		</div>

		{% include "footer.html" %}
		
	</body>
</html>