<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" style="padding: 10px;">
		<div class="container-fluid" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'formsaran' %}">Form Saran</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Registrasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'jadwalkegiatan' %}">Jadwal Kegiatan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'buku' %}">Buku</a>
				</li>
			</ul>
		</div>
	</nav>

	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded" id="about">
			<div class="row">
				<div class="col-md-4 left">
					<img src="{% static 'img/me.jpg' %}" alt="My Image" class="rounded-circle center-block mx-auto d-block profile-image">
				</div>
				<div class="col-md-8 right">
					<h1 class="text-center">Ardanto Finkan Septa</h1>
					<p>Halo, nama saya Ardanto Finkan Septa. Nama panggilan saya Ardanto. Saya sedang berkuliah di Universitas Indonesia jurusan S1 Ilmu Komputer. Nice to meet you!</p>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-container rounded" id="profil">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Profil</h1>
				</div>
				<div class="col-md-8 right">
					<h2>Tempat Tanggal Lahir</h2>
					<h3>Tangerang, 14 September 1999</h3>
					<br>
					<h2>Nama Lengkap</h2>
					<h3>Ardanto Finkan Septa</h3>
					<br>
					<h2>Pendidikan Terakhir</h2>
					<h3>SMA</h3>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-container rounded" id="riwayatpendidikan">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Riwayat Pendidikan</h1>
				</div>
				<div class="col-md-8 right">
					<h2>SD</h2>
					<h3>SD Maria Immaculata</h3>
					<h4>2005-2011</h4>
					<br>
					<h2>SMP</h2>
					<h3>SMPN 18 Kota Tangerang</h3>
					<h4>2011-2014</h4>
					<br>
					<h2>SMA</h2>
					<h3>SMAN 2 Kota Tangerang</h3>
					<h4>2014-2017</h4>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-container rounded" id="pengalaman">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Pengalaman</h1>
				</div>
				<div class="col-md-8 right">
					<h2>Autonomous Marine Vehicle (AMV) UI</h2>
					<h3>Programmer</h3>
					<h4>2017 - sekarang</h4>
					<br>
					<h2>FEC UI</h2>
					<h3>Staff Try Out</h3>
					<h4>2017</h4>
					<br>
					<h2>Project Loker AMV</h2>
					<h3>PJ AI</h3>
					<h4>2018</h4>
					<br>
					<h2>IT Force Fuki Fasilkom UI</h2>
					<h3>Staff</h3>
					<h4>2018 - sekarang</h4>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-container rounded" id="kemampuan">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Kemampuan</h1>
				</div>
				<div class="col-md-8 right">
					<h2>Bahasa Pemrograman</h2>
					<h3>- Python</h3>
					<h3>- Java</h3>
					<h3>- C++</h3>
					<br>
					<h2>Embedded</h2>
					<h3>- Arduino</h3>
					<br>
					<h2>Web</h2>
					<h3>- HTML, CSS, Javascript</h3>
					<h3>- JQuery, Bootstrap</h3>
					<h3>- Django</h3>
					<br>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-container rounded" id="prestasi">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Prestasi</h1>
				</div>
				<div class="col-md-8 right">
					<h2>MATE ASEAN ROV Competition</h2>
					<h3>Juara 1, sebagai bagian dari AMV Team</h3>
					<h4>2018</h4>
				</div>
			</div>
		</div>

		{% include "footer.html" %}

	</body>
</html>