<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
		<script src="{% static 'js/logic.js' %}"></script>
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" style="padding: 10px;">
		<div class="container-fluid" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'formsaran' %}">Form Saran</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'register' %}">Registrasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'jadwalkegiatan' %}">Jadwal Kegiatan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'buku' %}">Buku</a>
				</li>
			</ul>
		</div>
	</nav>

	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded" id="bukutamu">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Registrasi</h1>
				</div>
				<div class="col-md-8 right">
					<div id="message-container" class="container-fluid">

					</div>
					<form method="POST" action="">
						{% csrf_token %}
						<div class="form-group">
					    	<label for="email">E-Mail</label>
					    	<input name="email" class="form-control" type="email" id="email" required>
						</div>
						<div class="form-group">
					    	<label for="password">Password</label>
					    	<input name="password" class="form-control" type="password" id="password" required>
						</div>
						<div class="form-group">
					    	<label for="passwordver">Password (Verification)</label>
					    	<input name="passwordver" class="form-control" type="password" id="passwordver" required>
						</div>
						<div class="form-group">
					    	<label for="nama">Nama</label>
					    	<input name="name" class="form-control" type="name" id="nama" required>
						</div>
						<div class="form-group">
							<label for="tanggallahir">Tanggal Lahir</label>
					  		<input name="birthdate" class="form-control" type="date" id="tanggallahir" required>
						</div>
						<button id="submit-register" type="submit" class="btn btn-primary disabled" disabled>Submit</button>
						<button class="btn btn-primary" type="button" id="validate-button">Validate</button>
					</form>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-container rounded" id="about">
			<div class="row">
				<div class="col-md-4 left">
					<h1>User</h1>
				</div>
				<div class="col-md-8 right">
					<button style="display: none;" id="show-user" class="btn btn-primary">Tampilkan</button>
					<div class="container-fluid" id="user-container">
					</div>
				</div>
			</div>
		</div>

		{% include "footer.html" %}
		
	</body>
	<script type="text/javascript">
		// using jQuery
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
</html>